
<html>
    <head>
        <title>Infractions</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>


    <body>
        <div class="container-fluid ml-3">
            <p class="display-4">All Infractions</p>
            
            <ul>
                {% for i in infractions %}
                    <li>Straat: {{i.street}} Snelheidslimiet: {{i.speed_limit}} Infractie snelheid: {{i.infractions_speed}}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>